<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HLA_Workshop_Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <HLA_Workshop_Assistant.Properties.Settings>
            <setting name="GCFScapeInstallLocation" serializeAs="String">
                <value>C:\Program Files\Nem's Tools\GCFScape\</value>
            </setting>
            <setting name="VRFInstallLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Notes" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigVersion" serializeAs="String">
                <value>0</value>
            </setting>
        </HLA_Workshop_Assistant.Properties.Settings>
    </userSettings>
</configuration>